extends layout

block adopt
	div.indent
		h2 Thank you for considering adoption!
		hr
		h3 Available plants

		div#vue-app.profile
			template(v-for='plant in plants')
				div
					img.thumbnail(v-bind:src='plant.pic')
					h4 {{plant.name}}
					p {{plant.description}}