extends layout

block credits
	div.indent
		h2 Credits
		hr
		h3 Photos
		p The photos on this site were sourced from Flickr users under the 
			a(href='#') Creative Commons 2.0 Attribution license.
		ul
			li Username, "Photo Title", additional info
			li Username, "Photo Title", additional info
			li Username, "Photo Title", additional info