extends layout

block donate
	h2 How you can help
	div.flex-wrapper
		div.triplet
			h3 Donations
			p Bellflower jacob's ladder bottlebrush, star of bethlehem. Houndstongue lily poppy eustoma. Scabious, guelder rose montbretia, sunflower heather, chincerinchee.
			div.flex-wrapper 
				i(class="fa fa-2x fa-cc-stripe" aria-hidden="true")
				i(class="fa fa-2x fa-google-wallet" aria-hidden="true")
				i(class="fa fa-2x fa-amazon" aria-hidden="true")
				i(class="fa fa-2x fa-square-o" aria-hidden="true")
				i(class="fa fa-2x fa-paypal" aria-hidden="true")
		div.triplet
			h3 Supplies
			p Snapdragon bells of Ireland obedient plant wormwood, mum bogbean cowslip. Foxglove red rose mimosa. Baby’s breath chickweed, acacia tjenkenrientjee. Fuchsia lilac bell heather eustoma dill. Round-leaved sundew grape hyacinth sturt's desert rose. Snake head sweet pea bloom broom anemone.
		div.triplet
			h3 Time
			p
				a(href='volunteer.html') Find out more about volunteering!
	p 
		a(href='contact.html') Contact us 
		| regarding other options such as vehicle donations or bequests.
