footer
	div
		div
			p.block 123 Anytown Street
			p.block Flowerville, WA 98765
			hr
			p.block PO BOX 11037
			p.block Flowerville, WA 98765
		div
			i(class='fa fa-3x fa-facebook' aria-hidden='true') 
			i(class='fa fa-3x fa-instagram' aria-hidden='true') 
			i(class='fa fa-3x fa-twitter' aria-hidden='true') 
			i(class='fa fa-3x fa-pinterest' aria-hidden='true')
			hr 
			p
			a(href='credits.html') Photo credits

