footer
	div
		div
			ul.nodots
				li 123 Anytown Street
				li Flowerville, WA 98765
			hr
			ul.nodots
				li PO BOX 11037
				li Flowerville, WA 98765
		div
			i(class='fa fa-2x fa-facebook' aria-hidden='true') 
			i(class='fa fa-2x fa-instagram' aria-hidden='true') 

			hr 
			p
			a(href='credits.html') Photo credits

