header
	div.flex-wrapper
		div
			h1 Violet's Houseplant Rescue
		div
			i(class='fa fa-3x fa-facebook' aria-hidden='true') 
			i(class='fa fa-2x fa-instagram' aria-hidden='true') 
		div
			ul.nodots
				li (800) 555-5555
				li info@vhr.org
	include nav