extends layout

block index
	div.jumbotron
		div.indent
			h2 Welcome!
			p Florem ipsum glory lily mistletoe mimosa summer snowflake tansy spurge buttercup. Globeflower snowdrop dune helleborine. Turtle head dill, alpine thistle pincushion protea carnation, sweet sultan brodiaea. Windflower love lies bleeding calla lily, bergamot corsage orchid queen Anne’s lace. Honeysuckle foxtail lily tuberose broom rosebay willowherb. Jersey lily snow berry sword lily, bird of paradise. Monkeyflower sturt's desert rose thrift. Spiked speedwell, blossom peony chickweed holy grass.
			ul 
				li
					a(href="#") Resource 1
				li
					a(href="#") Resource 2
				li
					a(href="#") Resource 3
			p Mimosa bogbean, ox-eye daisy. China aster sweet sultan, marguerite corsage orchid golden shower orchid. Kansas feather bells of Ireland blossom. Scottish dock ulster mary drumstick. Lady’s mantle violet alpine thistle. Tuberose, goosefoot pink heath. Carnation lobster claw sticky catchfly wormwood rosemary.		
		div.indent.fb-page(data-href="https://www.facebook.com/molbaks" data-tabs="timeline" data-small-header="true" data-width='300' data-height="300" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false")

		