extends layout

block index
	div.jumbotron
		h2 Welcome!
		div.fb-page(data-href="https://www.facebook.com/molbaks" data-tabs="timeline" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false")