extends layout

block index
	script.			
		(function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s);
		    js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
		    fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	div.jumbotron
		h2 Welcome!
	div.indent.flex-wrapper 
		div.indent
			p Florem ipsum glory lily mistletoe mimosa summer snowflake tansy spurge buttercup. Globeflower snowdrop dune helleborine. Turtle head dill, alpine thistle pincushion protea carnation, sweet sultan brodiaea. Windflower love lies bleeding calla lily, bergamot corsage orchid queen Anne’s lace. Honeysuckle foxtail lily tuberose broom rosebay willowherb. Jersey lily snow berry sword lily, bird of paradise. Monkeyflower sturt's desert rose thrift. Spiked speedwell, blossom peony chickweed holy grass.
		div
			div.fb-page(data-href="https://www.facebook.com/molbaks" data-tabs="timeline" data-small-header="true" data-width='500' data-height="300" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false")
			p.small (For demonstration purposes only. Molbak's is in no way involved with this site.)
