doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		title= title
		meta(name="description" content="Website Rebuild")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
		link(rel="stylesheet" href="../../build/stylesheets/style.css")
		script(src="https://unpkg.com/vue")

	body
		include header

		main
			block adopt
			block contact
			block credits
			block donate
			block index
			block merch
			block news
			block resources
			block success
			block volunteer
			include sponsors
		include footer

		script(src='../../build/scripts/main.js')
		script(src="https://use.fontawesome.com/59c976fd61.js")
		script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")    
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")