extends layout

block merch
	div.indent
		h2 VHR Store
		hr
		div.flex-wrapper
			div.triplet
				div
					h3 Mugs
					img.thumbnail.float(src='../images/merch.jpg' alt='picture of t-shirt and coffee mug')
					p Corsage orchid ulster mary buttercup prairie gentian. Tulip moth orchid sweet sultan. Bells of Ireland tasmanian blue gum orchid painter’s palette. Chincerinchee bottlebrush holy grass cuckooflower, bergamot. Rose baby’s breath grape hyacinth hop feverfew rosemary.
				a.action.center(href='#') Buy now!
			div.triplet
				div
					h3 T-shirts
					img.thumbnail.float(src='../images/merch.jpg' alt='picture of t-shirt and coffee mug')
					p Grape hyacinth golden shower orchid sunflower scarlet plume speedwell. Daffodil floss flower arum, marguerite. Sticky catchfly acacia begonia rock-rose buttercup. 
				a.action.center(href='#') Buy now!
			div.triplet
				h3 Other shopping
				p Support VHR by shopping with our partners:
				a.banner-border.center(href='https://www.example.com')
					img.banner(src='../images/amazon-smile.jpg' alt='amazon smile banner')
				a.banner-border.center(href='https://www.example.com')
					img.banner(src='../images/merch.jpg' alt='picture of t-shirt and coffee mug')
				a.banner-border.center(href='https://www.example.com')
					img.banner(src='../images/merch.jpg' alt='picture of t-shirt and coffee mug')
