nav
	a(href='index.html') Home
	a(href='#') Resources
	a(href='success.html') Success Stories
	a(href='adopt.html') Adopt
	a(href='#') Volunteer
	a(href='donate.html') Support VHR!
	a(href='merch.html') VHR Gear
	a(href='#') Contact