extends layout

block resources
	div.indent
		h2 Resources
		hr
		div.flex-wrapper.space-around
			div
				h3 Adoption
				ul.nodots
					li.bold 
						a(href='#') Plant adoption FAQ	
					li  
						a(href='#') Who should adopt a plant?
					li  
						a(href='#') What kind of plant is best for me?
					li  
						a(href='#') VHR adoption requirements
					li  
						a(href='#') Apply to adopt!
			div
				h3 Care
				ul.nodots 
					li.bold 
						a(href='#') Plant care FAQ
					li  
						a(href='#') Exotic plants
					li  
						a(href='#') Plants with medical issues
			div
				h3 Propagation
				ul.nodots
					li.bold 

						a(href='#') Plant propagation FAQ
					li  
						a(href='#') When is propagation a good idea?
					li  
						a(href='#') Responsible propagation
					li  
						a(href='#') Preventing unwanted propagation