div.sponsors
	a(href='#')
		img.responsive(src='../images/mail.jpg' alt='email opt-in')
	a(href='#')
		img.responsive(src='../images/banner1.jpg' alt='paypal button')
	a(href='merch.html')
		img.responsive(src='../images/banner3.jpg' alt='merchandise banner')
	a(href='#')
		img.responsive(src='../images/banner2.jpg' alt='sponsor banner')