extends layout

block volunteer
	div.indent
		h2 How to get involved
		ul
			li
				a(href='#events') Upcoming events
			li
				a(href='#garden') Ongoing opportunities
		hr
		h3#events Events
		div.indent
			article.event
				img.float(src="../images/event.jpg")
				h4 Event name!
				p.date October 1, 2017
				p Pincushion protea bells of Ireland columbine. Lupin statice flame tip monkeyflower. Stock moth orchid gorse. Spotted rock-rose bottlebrush peruvian lily. Wormwood orchid scorpion orchid, dog rose rock-rose. Oxlip star of bethlehem bee orchid flower grass of parnassus. Lilac globe artichoke.
			article.event
				img.float(src="../images/event.jpg")
				h4 Event name!
				p.date October 1, 2017
				p Pincushion protea bells of Ireland columbine. Lupin statice flame tip monkeyflower. Stock moth orchid gorse. Spotted rock-rose bottlebrush peruvian lily. Wormwood orchid scorpion orchid, dog rose rock-rose. Oxlip star of bethlehem bee orchid flower grass of parnassus. Lilac globe artichoke.
			article.event
				img.float(src="../images/event.jpg")
				h4 Event name!
				p.date October 1, 2017
				p Pincushion protea bells of Ireland columbine. Lupin statice flame tip monkeyflower. Stock moth orchid gorse. Spotted rock-rose bottlebrush peruvian lily. Wormwood orchid scorpion orchid, dog rose rock-rose. Oxlip star of bethlehem bee orchid flower grass of parnassus. Lilac globe artichoke.
			hr
			h3#garden Ongoing opportunities
			p Contact us at info@violetshouseholdrescue.com to sign up for these opportunities:
			hr
			div
				h4 Volunteer in the garden
				p Pincushion protea bells of Ireland columbine. Lupin statice flame tip monkeyflower. Stock moth orchid gorse. Spotted rock-rose bottlebrush peruvian lily. Wormwood orchid scorpion orchid, dog rose rock-rose. Oxlip star of bethlehem bee orchid flower grass of parnassus. Lilac globe artichoke.
				h4 Care for overflow in your own home or garden
				p Pincushion protea bells of Ireland columbine. Lupin statice flame tip monkeyflower. Stock moth orchid gorse. Spotted rock-rose bottlebrush peruvian lily. Wormwood orchid scorpion orchid, dog rose rock-rose. Oxlip star of bethlehem bee orchid flower grass of parnassus. Lilac globe artichoke.
				h4 Subject matter assistance
				p Pincushion protea bells of Ireland columbine. Lupin statice flame tip monkeyflower. Stock moth orchid gorse. Spotted rock-rose bottlebrush peruvian lily. Wormwood orchid scorpion orchid, dog rose rock-rose. Oxlip star of bethlehem bee orchid flower grass of parnassus. Lilac globe artichoke.