.event {
    background-color: #EFDFFF;
    background: linear-gradient(to bottom, white, #EFDFFF);
    box-shadow: 1px 1px 2px #585;
}

.jumbotron {
    align-items: center;
    background: url('../images/collage1.jpg');
    background-size: auto 100%;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    justify-content: space-around;
    min-height: 40vh;
    text-align: left;
    width: 100%;
}

.profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    div {
        align-items: center;
        background-color: #EFE;
        background: linear-gradient(to bottom, #EFD, #DFC);
        box-shadow: 1px 1px 2px $color-primary-2;
        display: flex;
        flex: auto;
        flex-direction: column;
        justify-content: space-between;
        margin: 1%;
        max-width: 25vw;
        padding: 1%;
        text-align: center;
        div {
            box-shadow: none;
            flex: auto;
        }
    }
}

.sponsors {
    background-color: $color-primary-0;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    a {
        margin: 0 10px;
    }
}

.triplet {
    background-color: #FEF;
    background: linear-gradient(to top, #FEF, #EFD);
    box-shadow: 1px 1px 2px gray;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 1% auto;
    padding: 0.5em;
    position: relative;
    text-align: justify;
    width: 30%;
}

.success {
    @extend .triplet;
    margin: 5% auto;
    width: 80%;
}