.banner {
    margin: 0.5em;
    max-height: 10vh;
    max-width: 10vw;
    text-align: center;
}

.banner-border {
    @extend .action;
    background-color: white;
    border: 2px solid $color-secondary-2-1;
    color: $color-secondary-2-1;
    text-decoration: none;
}

.thumbnail {
    border: 2px double $color-primary-2;
    max-height: 10vw;
    margin: 0.75em;
    max-width: 10vw;
}

.responsive {
    margin: 1em;
    margin-top: 0.5em;
    max-height: 15%;
    max-height: 15vh;
    max-width: 15%;
    max-width: 15vw;
}
