@media screen and (max-width: 800px) {

    .hide-lg {
        color: $color-primary-2;
        display: block !important;
        margin: 5px 0.5em;
    }
    .hide-sm {
        background-color: #020;
        display: none;
        font-family: 'Sahitya', serif;
        li {
            border-bottom: 1px solid $color-primary-2;
            font-size: 1.25em;
            flex: auto;
        }
        li:nth-child(odd) {
            background-color: #050;
            background: linear-gradient(to right, #020, #050 5%, #020);
        }
    }
    .event {
        flex-direction: column-reverse;
        margin-bottom: 20px;
        h4 {
            padding: 1em;
            margin: 0;
        }
        img {
            display: none;
        }
    }

    h1 {
        font-size: 2em;
        margin: 0;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        font-size: 1.4em;
    }

    ul {
        margin: 0;
    }

    .flex-wrapper {
        flex-flow: column;
        .triplet {
            width: 80%;
            .flex-wrapper {
                flex-flow: row;
            }
        }
    }
    .profile {
        flex-flow: column;
        div {
            margin: 1% auto;
            max-width: 80vw;
            width: 80vw;
        }
    }
    .thumbnail {
        max-width: 20vh;
        max-height: 20vh;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 1em;
    }
    p,
    li {
        font-size: 0.9rem;
    }
    nav {
        justify-content: space-between;
        a {
            font-size: 1em;
        }
    }

    #map {
        height: 75vw;
        width: 75vw;
    }
}