.block {
    margin: 0;
}

.center {
    display: block;
    text-align: center;
}

.center-el {
    margin: 0 auto;
}

.fb-page {
    margin: 0 auto;
}

.float {
    float: left;
}

.flex-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 2%;
}

.indent {
    margin: 2%;
    margin-bottom: 5%;
}

.space-around {
    justify-content: space-around;
}